<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Waggy</title>

    <link href="/Template/css/bootstrap.min.css" rel="stylesheet">
    <link href="/Template/css/styles.css" rel="stylesheet">
    <link href="/Template/css/style.css" rel="stylesheet">
    <link href="/Template/css/swiper.css" rel="stylesheet">
    <link href="/Template/css/vendor.css" rel="stylesheet">
    <link href="/Template/css/fontawesome-all.min.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.5/dist/jquery.validate.min.js"></script>
</head>
<body>
    <link href="~/Template/css/registro.css" rel="stylesheet" />
    
    <main class="container-fluid px-0">
        @RenderBody()
    </main>

    <script src="/Template/js/bootstrap.min.js"></script>
    <script src="/Template/js/swiper.min.js"></script>
    <script src="/Template/js/purecounter.min.js"></script>
    <script src="/Template/js/replaceme.min.js"></script>

</body>
</html>
